{% import 'elementor/macros' as m %}
<div class="{{ m.render_base_classes(id, base_styles, settings) }} {{ editor_classes | default('') }}"
    {{- ' ' }}{{ m.render_data_attributes(id, type, interaction_id) }}
    {{- m.render_custom_attributes(settings, editor_attributes) }}>
    <!-- elementor-children-placeholder -->
</div>
