{% set classes = settings.classes | merge( [ base_styles.base ] ) | join(' ') | trim %}
{% set id_attribute = settings._cssid is not empty ? 'id=' ~ settings._cssid | e('html_attr') : '' %}
{% set interactions_attribute = interactions is not empty ? 'data-interactions=' ~ interactions | json_encode | e('html_attr') : '' %}
{% set required_attribute = settings.required ? 'required' : '' %}
{% set multiple_attribute = settings.multiple ? 'multiple' : '' %}
{% set name = settings.name is not empty ? settings.name : settings._cssid is not empty ? settings._cssid : id %}
{% set name_attribute = 'name=' ~ name | e('html_attr') %}
<select 
	{{ id_attribute }}
	{{ name_attribute }}
	class="{{ classes }}"
	data-interaction-id="{{ interaction_id | default(id) }}"
	{{ settings.attributes | raw }} 
	{{ interactions_attribute }}
	{{ required_attribute }}
	{{ multiple_attribute }}
>
	{% for option in settings.options %}
		<option value="{{ option.value }}">{{ option.key }}</option>
	{% endfor %}
</select>
